@model NOGAsteWebApp.Models.EventsDBModel

<h2>Update @Model.ThreatEval</h2>

@using (Html.BeginForm("UpdateEventToDatabase", "EventsDBModel", "Post"))
{
    <input asp-for="KeyID" type="hidden" value="@Model.KeyID" />

    <label asp-for="ThreatEval" class="control-label">ThreatEval</label>
    <input type="text" name="ThreatEval" class="form-control" value="@Model.ThreatEval" />

    <input type="submit" value="Update Event" class="btn btn-primary" />
}
